.calendar-grid{
    display:grid;
    grid-template-columns: repeat(3,auto);
}

.month-calendar{
   align-items: center;
   text-align: center;
}

.cal{
background-color:white
}

.calendar-grid h3, h1, .year{
    color:white
}

.calendar-button{
    width:150px;
    height: 30px;
    border-radius: 5px;
}

.week-day{
    color:#F87777;
    font-family:'Times New Roman', Times, serif
    /* font-family:Georgia, 'Times New Roman', Times, serif */
}

.calendar-wrapper {
  width: 350px;
  margin: 0 auto;
  text-align: center;
  font-family: "Georgia";
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #222;
}

.react-calendar {
  background: #f8f8f8;
  padding: 20px;
  border-radius: 16px;
  border: none;
}

.react-calendar__navigation button {
  font-size: 18px;
  background: none;
  border: none;
  padding: 10px 5px;
  cursor: pointer;
}

.react-calendar__month-view__weekdays {
  text-transform: none;
  color: #555;
  font-weight: 600;
}

.react-calendar__tile {
  padding: 12px 0;
  font-size: 16px;
  border-radius: 8px;
  background: white;
  transition: 0.2s ease;
}

.react-calendar__tile:hover {
  background: #ffe1e1;
  transform: scale(1.05);
}

.react-calendar__tile--active {
  background: #ffb7b7 !important;
  color: white;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #ff4a4a;
}

.left{
    display: flex;
    flex-direction: column;
    gap:0px;
    justify-content: flex-start;
}